* {
   margin: 0;
   padding: 0;
}
#main{
   position: relative;
}
.box {
   float: left
   padding: 15px 0 0 15px;
}
.pic{
   padding: 10px;
   border: 2px solid #ccc;
   border-radius: 8px; 
   box-shadow: 0 0 5px #ccc;
}
.pic img{
   width: 180px;
}